body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding: 0;
    margin: 0;
    background: rgb(238, 237, 236);
}

.highlight {
    color: rgb(38, 171, 211);
}

.current a {
    color:  rgb(38, 171, 211);
    font-weight: bold;
    
}

header {
    background: black;
    color: white;
    min-height: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header nav {
    float: right;
    margin-top: 15px;
}

ul{
	margin: 0;
	padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header a:hover {
    color:  rgb(38, 171, 211);
	transition: 0.5s;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

/*Starting section*/

#starting-section {
    background: url('./img/starting.jpg') no-repeat center
    center/cover;
    height: 80vh;
    padding-left: 20%;
    padding-right: 20%;
    padding: 1% 20% 5% 20%;
}

#starting-section h1 {
    font-size: 50px;
}

#starting-section p {
    font-size: 25px;
}

#starting-section a {
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
#starting-section a:hover {
    background-color: #ce0606;
    cursor: pointer;
  }
  
#starting-section a:active {
    box-shadow: none;
    top: 5px;
  }
  
#starting-section a:visited {
    background-color: #ccc;
  }

/*Introduction section*/

#introduction-section {
    text-align: center;
    padding: 60px 20% 60px 20%;
}

#introduction-section h1 {
    font-size: 30px;
}

#introduction-section p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(99, 93, 93);
}

/*Offer section*/

#offer-section {
    display: flex;
    text-align: center;
    vertical-align: top;
    padding: 60px 20% 60px 20%; 
}

#offer-section h3 {
    font-size: 25px;
}

#offer-section p {
    font-size: 18px;
    font-weight: bold;
    color: rgb(99, 93, 93);
}

.box {
    width: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*Project showcase section*/

#project-showcase-section {
    display: flex;
    vertical-align: top;
    padding: 200px 10% 200px 10%; 
    
}

#project-showcase-section h3 {
    font-size: 25px;
    margin: 30px;
}

#project-showcase-section p {
    font-size: 18px;
    font-weight: bold;
    color: rgb(99, 93, 93);
    margin: 30px;
}

#project-showcase-section a {
    margin: 30px;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#project-showcase-section a:hover {
    background-color: #ce0606;
    cursor: pointer;
  }

#project-showcase-section a:active {
    box-shadow: none;
    top: 5px;
  }
  
#project-showcase-section a:visited {
    background-color: #ccc;
  }

#project-showcase-section img {
    width: 700px;
    height: 450px;
}

.project-box {
    width: 700px;
    height: 750px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

/*Client section section*/

#client-section {
    margin: auto;
    text-align: center;
    padding: 60px 10% 60px 10%;
}

#client-section h1 {
    font-size: 35px;
    margin-bottom: 100px;
}

#client-section img{
    width: 150px;
    filter: grayscale(1.0);
    margin: 20px;
    vertical-align: middle;
}


