body {
    font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding: 0;
    margin: 0;
    background: black;
}

.highlight {
    color: rgb(148, 15, 15);
}

.current a {
    color:  rgb(148, 15, 15);
    font-weight: bold;
    
}

header {
    background: black;
    color: white;
    min-height: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header nav {
    float: right;
    margin-top: 15px;
}

ul{
	margin: 0;
	padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header a:hover {
    color: rgb(148, 15, 15);
	transition: 0.5s;
}

header #branding {
    float: left;
}

header #branding h1 {
    font-size: 40px;
    margin: 0;
}

/*Starting section*/

#starting-section {
    background: url('./img/starting5.png') no-repeat center
    center/cover;
    color: white;
    height: 80vh;
    padding: 4% 20% 5% 20%;
}

#starting-section h1 {
    font-size: 60px;
}

#starting-section p {
    font-size: 25px;
}

#starting-section a {
    border: 2px solid;
    border-color: rgb(148, 15, 15);
    color: white;
    padding: 1em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    background: linear-gradient(to left, black 50%, rgb(148, 15, 15) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
  }
  
#starting-section a:hover {
    background-position: left;
}
  
#starting-section a:active {
    box-shadow: none;
    top: 5px;
  }
  
#starting-section a:visited {
    background-color: #ccc;
  }

/*Introduction section*/

#introduction-section {
    text-align: center;
    padding: 0 20% 60px 20%;
}

#introduction-section h1 {
    color: white;
    font-size: 30px;
}

#introduction-section p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(99, 93, 93);
}

/*Offer section*/

#offer-section {
    display: flex;
    text-align: center;
    vertical-align: top;
    padding: 60px 20% 60px 20%; 
}

#offer-section h3 {
    font-size: 25px;
    color: white;
    position:relative;
}

#offer-section h3::after{
    content:'';
    height:2px;
    width:20%;
    background: rgb(207, 27, 27);
    position:absolute;
    left:calc(50% - 10%);
    bottom:-5px;

}

#offer-section p {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    margin: 20px;
    color: white;
}

#offer-section i {
    color:rgb(207, 27, 27);
    margin-top: 30px;
    font-size: 50px;
}

.box {
    width: 350px;
    height: 380px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: rgb(24, 23, 23);
    border-radius: 5%;
}

.box:hover {
    background: rgb(148, 15, 15);

}

.box:hover #team, .box:hover #experience, .box:hover #client {
    color: white;
}





/*Project showcase section*/

#project-showcase-section {
    display: flex;
    vertical-align: top;
    padding: 200px 10% 200px 10%; 
    
}

#project-showcase-section h3 {
    font-size: 25px;
    margin: 30px;
}

#project-showcase-section p {
    font-size: 18px;
    font-weight: bold;
    color: rgb(99, 93, 93);
    margin: 30px;
}

#project-showcase-section a {
    margin: 30px;
    background-color: rgb(148, 15, 15);
    box-shadow: 0 5px 0 rgba(139, 0, 0, 0.623);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#project-showcase-section a:hover {
    background-color: #ce0606;
    cursor: pointer;
  }

#project-showcase-section a:active {
    box-shadow: none;
    top: 5px;
  }
  
#project-showcase-section a:visited {
    background-color: #ccc;
  }

#project-showcase-section img {
    width: 700px;
    height: 450px;
}

.project-box {
    width: 700px;
    height: 750px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

/*Client section*/

#client-section {
    margin: auto;
    text-align: center;
    padding: 60px 10% 60px 10%;
}

#client-section h1 {
    font-size: 35px;
    margin-bottom: 100px;
}

#client-section img{
    width: 150px;
    filter: grayscale(1.0);
    margin: 20px;
    vertical-align: middle;
    padding-bottom: 100px;
}

/*Footer*/

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 10px 0 10px 0;
}

